/vendor
/node_modules
.env
*.ppk
public/phpredmin/config.php
public/cache/Config/Memcache.php
!.gitignore
!/vendor/j42/laravel-firebase/src/j42/LaravelFirebase/Client.php
*.db
*.htaccess
access.log
*.log
