APP_ENV=local
APP_DEBUG=true
APP_KEY=24MVGRtCqphDEMKJ4OdUElOhWSD3AcPc
APP_REDISPORT=6379
APP_PREFIX=/
ASSET_PORT=80
APP_FOLDER=Code
MAK=true

DB_HOST=localhost
DB_PORT=27017
DB_DATABASE=mnch
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_PREFIX=local
CACHE_DRIVER=memcached
SESSION_DRIVER=redis