      input.parsley-success,
      select.parsley-success,
      textarea.parsley-success {
        color: #468847;
        background-color: #DFF0D8;
        border: 3px solid #D6E9C6;
      }

      input.parsley-error,
      select.parsley-error,
      textarea.parsley-error {
        color: #FF0000;
        background-color: #F2DEDE;
        border: 3px solid #FF0000;
      }

      .parsley-errors-list {
        margin: 3px 1 4px 1;
        padding: 1;
        list-style-type: none;
        font-size: 0.9em;
        line-height: 0.9em;
        opacity: 0.2;
        -moz-opacity: 0;
        -webkit-opacity: 0;

        transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -ms-transition: all .3s ease-in-;
        -moz-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
      }

      .parsley-errors-list.filled {
        opacity: 1;
      }

      #infoArea {
        color: #B94A48;
        display: none;
      }
    
    .parsley-custom-error-message, .parsley-required{
     font-style:bold; 
    color: #FF0000;  
    }
 