/* HOVER STYLES */
div#pop-up {
  display: none;
 position: absolute;
 z-index: 2147483647;
  width: 100%;
  padding: 10px;
  background: #FFF;
  color: #000000;
  border: 1px solid #1a1a1a;
  font-size: 90%;
}
